# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/linux-64/ca-certificates-2018.8.24-ha4d7672_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/krb5-1.14.6-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-ng-7.2.0-hdf63c60_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libstdcxx-ng-7.2.0-hdf63c60_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ncurses-5.9-10.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/star-2.6.1a-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bzip2-1.0.6-h470a237_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/libdeflate-1.0-h470a237_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.0.2p-h470a237_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xz-5.2.4-h470a237_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zlib-1.2.11-h470a237_3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bedtools-2.27.1-he941832_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libssh2-1.8.0-h5b517e9_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/subread-1.6.2-ha92aebf_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/curl-7.61.0-h93b3f91_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/samtools-1.9-h46bd0b3_0.tar.bz2
